<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body style="min-height: 100vh; display: flex; flex-direction: column;">



    <h1 class="mb-4 text-center"><a href="/LietuvosOrai"><%= title %></a></h1>

<nav class="navbar navbar-expand-lg mx-auto mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/LietuvosOrai">Lietuvos Orai</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Miestai</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pasirinkti Miestai</a>
        </li>
      </ul>
    </div>
  </div>
</nav>